<nav id="sidebar">
    <div class="sidebar-header">
        <h1>
            <a href="/Admin/Home">Trang chủ</a>
        </h1>
        <span>B</span>
    </div>
    <div class="profile-bg"></div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-laptop"></i>
                Tours
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/Admin/Tour">Quản lý</a>
                </li>
            </ul>
        </li>


        <li>
            <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-users"></i>
                User
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu2">
                <li>
                    <a href="/Admin/User">Quản lý</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-address-book"></i>
                Booking
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu3">
                <li>
                    <a href="/Admin/Booking">Quản lý</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-archive"></i>
                Tour Comments
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu4">
                <li>
                    <a href="/Admin/TourComment">Quản lý</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-bars"></i>
                Thành phố/Quận/Huyện
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu5">
                <li>
                    <a href="/Admin/City">Thành phố</a>
                </li>
                <li>
                    <a href="Admin/District">Quận</a>
                <li>
                    <a href="/Admin/Province">Huyện</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>
