<div class="modal fade" id="alert-box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="alert-box-inside" class="modal-content m-auto">
            <div id="alert-box-header">
                <p class="text-dark">Thông báo</p>
            </div>
            <div id="alert-box-body">
                <p class="text-center" id="alert-box-content"></p>
            </div>
            <div id="alert-box-footer">
                <button type="button" class="col-6 btn-warning text-uppercase" data-dismiss="modal" id="btnAlertBoxCancel">
                    <i class="fas fa-times-circle"></i>
                    <b>HUỶ BỎ</b>
                </button>
                <button type="button" class="col-6 btn-warning" id="btnAlertBoxAccept">
                    <i class="fas fa-check-circle"></i>
                    <b class="text-uppercase">đồng ý</b>
                </button>
            </div>
        </div>
    </div>
</div>
